<a href="https://colab.research.google.com/github/Herdvair/Tasks/blob/main/Self_Practice_FGA_Fundamental_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
from sklearn.datasets import load_iris

# Menelaah Data

In [11]:
# Ganti 'Data_Nasabah.csv' dengan path yang benar ke file CSV Anda
data = pd.read_csv('Data_Nasabah.csv', sep=';')

In [12]:
# Jumlah data (baris dan kolom)
print("Jumlah data (baris, kolom):", data.shape)

Jumlah data (baris, kolom): (100, 10)

In [13]:
# Informasi tentang tipe data dan skema pengkodean
print("\nInformasi tipe data dan skema pengkodean:")
print(data.info())

Informasi tipe data dan skema pengkodean:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nasabah_id                 100 non-null    object
 1   umur                       100 non-null    int64
 2   jenis_kelamin              100 non-null    object
 3   pendapatan                 100 non-null    int64
 4   saldo_rata_rata            100 non-null    int64
 5   jumlah_transaksi           100 non-null    int64
 6   jenis_produk               100 non-null    object
 7   frekuensi_kunjungi_cabang  100 non-null    int64
 8   pengguna_mobile_banking    100 non-null    object
 9   skor_kredit                100 non-null    int64
dtypes: int64(6), object(4)
memory usage: 7.9+ KB
None

In [14]:
# Melihat beberapa baris pertama data
print("\nBeberapa baris pertama data:")
print(data.head())

Beberapa baris pertama data:
  nasabah_id  umur jenis_kelamin  pendapatan  saldo_rata_rata  \
0       N001    22     Perempuan     5800000          1508000
1       N002    64     Perempuan     5700000          1254000
2       N003    27     Perempuan     2950000           590000
3       N004    34     Perempuan     3100000           186000
4       N005    45     Laki-Laki     6700000          1474000

   jumlah_transaksi  jenis_produk  frekuensi_kunjungi_cabang  \
0                19      tabungan                          1
1                 9  kartu_kredit                          2
2                12      tabungan                          1
3                16      deposito                          5
4                15  kartu_kredit                          3

  pengguna_mobile_banking  skor_kredit
0                   TIDAK          900
1                   TIDAK          900
2                      YA          500
3                   TIDAK          700
4                      YA          800

In [15]:
# Menampilkan jumlah nilai unik untuk setiap kolom (untuk memahami kategori)
print("\nJumlah nilai unik untuk setiap kolom:")
for column in data.columns:
  print(f"{column}: {data[column].nunique()}")

Jumlah nilai unik untuk setiap kolom:
nasabah_id: 100
umur: 40
jenis_kelamin: 2
pendapatan: 30
saldo_rata_rata: 90
jumlah_transaksi: 24
jenis_produk: 3
frekuensi_kunjungi_cabang: 5
pengguna_mobile_banking: 2
skor_kredit: 5

In [16]:
data['jenis_kelamin'] = data['jenis_kelamin'].map({'Laki-Laki': 1, 'Perempuan': 2})
data['jenis_produk'] = data['jenis_produk'].map({'tabungan': 1, 'kartu_kredit': 2, 'deposito': 3})
data['pengguna_mobile_banking'] = data['pengguna_mobile_banking'].map({'YA': 1, 'TIDAK': 2})
print(data.head()) # Memastikan perubahan

  nasabah_id  umur  jenis_kelamin  pendapatan  saldo_rata_rata  \
0       N001    22              2     5800000          1508000
1       N002    64              2     5700000          1254000
2       N003    27              2     2950000           590000
3       N004    34              2     3100000           186000
4       N005    45              1     6700000          1474000

   jumlah_transaksi  jenis_produk  frekuensi_kunjungi_cabang  \
0                19             1                          1
1                 9             2                          2
2                12             1                          1
3                16             3                          5
4                15             2                          3

   pengguna_mobile_banking  skor_kredit
0                        2          900
1                        2          900
2                        1          500
3                        2          700
4                        1          800

# Data Cleaning

In [18]:
# Muat dataset iris
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [19]:
# Identifikasi jumlah data
print("Jumlah data:", df.shape[0])

Jumlah data: 150

In [20]:
# Identifikasi tipe data
print("\nTipe data:")
print(df.dtypes)

Tipe data:
sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

In [21]:
# Identifikasi nilai yang hilang
print("\nJumlah nilai yang hilang:")
print(df.isnull().sum())

Jumlah nilai yang hilang:
sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [22]:
# Identifikasi outlier (menggunakan IQR)
for column in df.columns[:-1]:  # Loop melalui fitur numerik
  Q1 = df[column].quantile(0.25)
  Q3 = df[column].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR
  outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
  print(f"\nOutlier pada kolom {column}:")
  print(outliers)

Outlier pada kolom sepal length (cm):
Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), target]
Index: []

Outlier pada kolom sepal width (cm):
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
15                5.7               4.4                1.5               0.4
32                5.2               4.1                1.5               0.1
33                5.5               4.2                1.4               0.2
60                5.0               2.0                3.5               1.0

    target
15       0
32       0
33       0
60       1

Outlier pada kolom petal length (cm):
Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), target]
Index: []

Outlier pada kolom petal width (cm):
Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), target]
Index: []

In [23]:
# Deskripsi statistik data
print("\nDeskripsi statistik:")
print(df.describe())

Deskripsi statistik:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)      target
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000